  <%= simple_form_for(@cocktail) do |f| %>
    <%= f.input :name, placeholder: "Whiskey Sour" %>
    <%= f.input :picture %>
    <%= f.input :picture_cache, as: :hidden %>
    <div class="d-flex p-2">
      <%= f.button :submit, class: "btn btn-primary"%>
    <%= link_to 'Go back to list of cocktails', cocktails_path, class: 'btn btn-danger' %>
    </div>
  <% end %>

