<div class="footer">
  <div class="footer-links">
    <%= link_to "https://github.com/lewagon", :target => "_blank" do %>
      <i class="fab fa-github"></i></a>
    <% end %>

    <%= link_to "https://www.instagram.com/lewagonlisbon/", :target => "_blank" do %>
      <i class="fab fa-instagram"></i>
    <% end %>

    <%= link_to "https://www.facebook.com/lewagonlisbon/?fref=mentions", :target => "_blank" do %>
      <i class="fab fa-facebook"></i>
    <% end %>

    <%= link_to "https://twitter.com/lewagonlisbon?lang=en", :target => "_blank" do %>
      <i class="fab fa-twitter"></i>
    <% end %>

    <%= link_to "https://www.linkedin.com/in/le-wagon-lisbon-4a1b68116/", :target => "_blank" do %>
      <i class="fab fa-linkedin"></i>
    <% end %>

  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fa fa-heart"></i> by tonio
  </div>
</div>
